@use "../ds-system/ds-typography";

.content {
  padding: 20px;
}

.content__wrapper {
  display: grid;
  grid-template-columns: 540px 420px;
  gap: 24px;

  width: max-content;
  margin: 0 auto;

  .title {
    grid-column: 1 / span 2;
  }
}

.content__ingredients.sheet {
  height: 100%;
}

.content__constructor {
  width: 100%;
  padding: 24px;
}

.content__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;

  p {
    @include ds-typography.b-s24-h28;

    margin: 0;
  }

  button {
    padding: 16px 45px;
  }
}
