@use "../ds-system/ds-colors";
@use "../ds-system/ds-shadows";
@use "../ds-system/ds-typography";

.header {
  position: relative;
  z-index: 2;

  display: flex;

  padding: 0 20px;

  background-color: ds-colors.$green-500;
  box-shadow: ds-shadows.$shadow-light;
}

.header__logo {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__cart {
  margin-left: auto;
  display: flex;
  align-items: stretch;

  a {
    @include ds-typography.b-s16-h19;

    display: flex;
    align-items: center;

    padding: 14px 20px 14px 58px;

    transition: 0.3s;

    cursor: pointer;

    color: ds-colors.$white;
    background-color: ds-colors.$green-500;
    background-image: url(../../img/cart.svg);
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 29px 27px;

    &:hover:not(:active) {
      background-color: ds-colors.$green-400;
    }

    &:active {
      background-color: ds-colors.$green-600;
    }

    &:focus {
      opacity: 0.5;
    }
  }
}

.header__user {
  display: flex;
  align-items: center;

  a {
    display: block;
    
    padding: 14px 20px;
    
    transition: 0.3s;
    
    cursor: pointer;
    
    background-color: ds-colors.$green-500;

    &:hover:not(:active) {
      background-color: ds-colors.$green-400;
    }

    &:active {
      background-color: ds-colors.$green-600;
    }

    &:focus {
      opacity: 0.5;
    }
  }

  img {
    display: inline-block;

    width: 32px;
    height: 32px;
    margin-right: 8px;

    vertical-align: middle;

    border-radius: 50%;
  }

  span {
    @include ds-typography.r-s14-h16;

    display: inline-block;

    vertical-align: middle;

    color: ds-colors.$white;
  }
}

.header__logout {
  &::before {
    display: inline-block;

    width: 32px;
    height: 32px;
    margin-right: 8px;

    content: '';
    vertical-align: middle;

    background: url(../../img/login.svg) no-repeat center;
    background-size: auto 50%;
  }

  span {
    @include ds-typography.r-s14-h16;

    display: inline-block;

    vertical-align: middle;

    color: ds-colors.$white;
  }
}


.header__login {
  &::after {
    display: inline-block;

    width: 32px;
    height: 32px;
    margin-left: 8px;

    content: '';
    vertical-align: middle;

    background: url(../../img/login.svg) no-repeat center;
    background-size: auto 50%;
  }
}
