@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";

.layout__sidebar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;

  width: 180px;
  height: 100%;

  padding-top: 85px;

  background-color: rgba(ds-colors.$green-500, 0.05);
  
  // Убеждаемся, что сайдбар никогда не перекрывает хедер
  // Хедер имеет z-index: 3, поэтому сайдбар (z-index: 1) всегда будет под ним
}

.layout__link {
  @include ds-typography.b-s14-h16;

  display: block;

  padding: 8px 14px;

  transition: 0.3s;

  color: ds-colors.$black;

  &--active {
    background-color: rgba(ds-colors.$green-500, 0.1);
  }

  &:hover {
    background-color: rgba(ds-colors.$green-500, 0.2);
  }

  &:active {
    color: rgba(ds-colors.$black, 0.5);
  }
}

.layout__content {
  padding-top: 22px;
  padding-right: 2.12%;
  padding-left: 200px;
}

.layout__title {
  margin-bottom: 27px;
}

.layout__tabs {
  display: flex;
  margin-top: 16px;
}

.layout__tab {
  @include ds-typography.r-s14-h16;

  padding: 8px 16px;
  margin-right: 8px;

  cursor: pointer;
  transition: 0.3s;

  color: ds-colors.$black;
  border: none;
  border-radius: 4px;
  background-color: rgba(ds-colors.$green-500, 0.05);

  &:hover {
    background-color: rgba(ds-colors.$green-500, 0.1);
  }

  &--active {
    background-color: rgba(ds-colors.$green-500, 0.15);
    color: ds-colors.$green-500;
  }
}

.layout__button {
  margin-top: 40px;

  button {
    padding: 12px 23px;
  }
}

.layout__address {
  margin-top: 16px;
}
