@use "../ds-system/ds-colors";
@use "../ds-system/ds-shadows";

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    content: "";
    background-color: rgba(ds-colors.$black, 0.5);
  }
}

.popup__content {
  position: relative;
  z-index: 1001;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  box-sizing: border-box;
  width: 420px;
  padding: 60px 90px;

  background-color: ds-colors.$white;
  box-shadow: ds-shadows.$shadow-light;
  animation: fadeIn 0.3s ease-out;

  &::before,
  &::after {
    position: absolute;

    width: 48px;
    height: 48px;

    content: "";

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &::before {
    top: 15px;
    left: 15px;

    background-image: url("@/assets/img/filling/ananas.svg");
  }

  &::after {
    right: 15px;
    bottom: 15px;

    background-image: url("@/assets/img/filling/tomatoes.svg");
  }

  p {
    text-align: center;
  }
}

.popup__title {
  text-align: center;

  font-size: 1.3em;
}

.popup__button {
  a {
    padding: 16px 32px;
  }
}
