@use "../ds-system/ds-typography";

.cart-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
  gap: 16px;
  justify-content: space-between;
}

.cart-form__address-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 20px;
}

.cart-form__address {
  display: flex;
  flex-direction: column;

  width: 100%;
  margin-top: 20px;
}

.cart-form__input {
  flex-grow: 1;

  &--small {
    max-width: 120px;
  }
}

.cart-form__label {
  @include ds-typography.b-s16-h19;

  white-space: nowrap;
  margin-bottom: 20px;
}
