@use "../ds-system/ds-colors";
@use "../ds-system/ds-shadows";
@use "../ds-system/ds-typography";
@use "../mixins/m_center";

.diameter__input {
  cursor: pointer;
  
  div {
    @include ds-typography.r-s16-h19;
    min-height: 36px;
    display: flex;
    align-items: center;

    position: relative;

    padding-left: 46px;

    &::before {
      @include m_center.p_center_v;

      width: 36px;
      height: 36px;

      content: "";
      transition: 0.3s;

      border-radius: 50%;
      background-color: ds-colors.$green-100;
      background-image: url("@/assets/img/diameter.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &--small {
    div::before {
      background-size: 18px;
    }
  }

  &--normal {
    div::before {
      background-size: 29px;
    }
  }

  &--big {
    div::before {
      background-size: 100%;
    }
  }

  &:hover {
    div::before {
      box-shadow: ds-shadows.$shadow-regular;
    }
  }

  input {
    &:checked + div::before {
      box-shadow: ds-shadows.$shadow-large;
    }
  }
}
