@use "../ds-system/ds-shadows";
@use "../ds-system/ds-typography";
@use "../mixins/m_center";

.dough__input {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-left: 46px;

  cursor: pointer;

  b {
    @include ds-typography.r-s16-h19;

    &::before {
      @include m_center.p_center-v;

      width: 36px;
      height: 36px;

      content: "";
      transition: 0.3s;

      border-radius: 50%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  span {
    @include ds-typography.l-s11-h13;

    display: block;
    margin-left: 4px;
  }

  &--light {
    b {
      &::before {
        background-image: url("@/assets/img/dough-light.svg");
      }
    }
  }

  &--large {
    b {
      &::before {
        background-image: url("@/assets/img/dough-large.svg");
      }
    }
  }

  &:hover {
    b::before {
      box-shadow: ds-shadows.$shadow-regular;
    }
  }

  input {
    &:checked + b::before {
      box-shadow: ds-shadows.$shadow-large;
    }
  }
}
