@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";

.input {
  display: block;

  span {
    @include ds-typography.r-s14-h16;

    display: block;
    padding-bottom: 4px
  }

  input {
    @include ds-typography.r-s16-h19;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 8px 16px;

    transition: 0.3s;

    color: ds-colors.$black;
    border: 1px solid ds-colors.$purple-400;
    border-radius: 8px;
    outline: none;
    background-color: ds-colors.$white;

    font-family: inherit;

    &:focus {
      border-color: ds-colors.$green-500;
    }

    &:read-only {
      background-color: rgba(ds-colors.$green-500, 0.05);
      cursor: not-allowed;
      color: rgba(ds-colors.$black, 0.6);

      &:focus {
        border-color: ds-colors.$purple-400;
      }
    }
  }

  &:hover {
    input {
      border-color: ds-colors.$black;
    }
  }

  &--big-label {
    display: flex;

    span {
      @include ds-typography.b-s16-h19;

      margin-top: 8px;
      margin-right: 16px;

      white-space: nowrap;
    }
  }

  &--error {
    input {
      border-color: #c62828;
    }
  }
}

.input__error {
  display: block;
  margin-top: 5px;
  color: #c62828;
  font-size: 12px;
  max-width: 230px;
}
