@use "../ds-system/ds-typography";
@use "../mixins/m_clear-list";

.product {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product__img {
  flex-shrink: 0;
  
  &--pizza {
    width: 56px;
    height: 56px;
    position: relative;
    
    .pizza {
      width: 100%;
      height: 100%;
      position: relative;
      
      .pizza__wrapper {
        width: 100%;
        height: 100%;
      }
      
      .pizza__filling {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.product__text {
  h2 {
    @include ds-typography.b-s18-h21;

    margin-top: 0;
    margin-bottom: 10px;
  }

  ul {
    @include m_clear-list.clear-list;
    @include ds-typography.l-s11-h13;
  }
  
  &--empty {
    color: rgba(0, 0, 0, 0.5);
    font-style: italic;
  }
}

