@use "../ds-system/ds-colors";
@use "../ds-system/ds-typography";

.title {
  box-sizing: border-box;
  font-size: 1.5em;
  line-height: 0.9em;
  width: 100%;
  margin: 24px 0 8px;

  color: ds-colors.$black;

  &--big {
    @include ds-typography.b-s36-h42;
  }

  &--small {
    @include ds-typography.b-s18-h21;
  }
}
