// general
@use "libs/normalize";
@use "fonts";
@use "ds-system/ds" as *;
@use "visually-hidden";
@use "scaffolding";
@use "mixins/mixins";

// animations
@use "animations";

// common styles
@use "common";
