// general
@import "libs/normalize.scss";
@import "fonts.scss";
@import "ds-system/ds.scss";
@import "visually-hidden.scss";
@import "scaffolding.scss";
@import "mixins/mixins";
// layouts
@import "layout/container.scss";
@import "layout/content.scss";
@import "layout/header.scss";
@import "layout/layout-form.scss";
@import "layout/layout.scss";
@import "layout/main.scss";
@import "layout/popup.scss";
@import "layout/sheet.scss";
@import "layout/sidebar.scss";
@import "layout/sign-form.scss";
// blocks
@import "blocks/dough.scss";
@import "blocks/diameter.scss";
@import "blocks/ingredients.scss";
@import "blocks/radio.scss";
@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/pizza.scss";
@import "blocks/cart.scss";
@import "blocks/cart-form.scss";
@import "blocks/cart-list.scss";
@import "blocks/additional-list.scss";
@import "blocks/address-form.scss";
@import "blocks/select.scss";
@import "blocks/input.scss";
@import "blocks/counter.scss";
@import "blocks/icon.scss";
@import "blocks/logo.scss";
@import "blocks/close.scss";
@import "blocks/order.scss";
@import "blocks/footer.scss";
@import "blocks/product.scss";
@import "blocks/filling.scss";