
@use "ds-system/ds-colors";
@use "ds-system/ds-shadows";
@use "ds-system/ds-typography";

// Основные блоки (используются в большинстве шаблонов)
@import "blocks/title.scss";
@import "blocks/button.scss";
@import "blocks/input.scss";
@import "blocks/select.scss";
@import "blocks/product.scss";
@import "blocks/counter.scss";

// Блоки, используемые в конкретных шаблонах
@import "blocks/cart-list.scss";
@import "blocks/address-form.scss";


// Правила, которые повторяются в разных компонентах
.main__wrapper {
  padding-bottom: 30px;

  border-radius: 8px;
  background-color: ds-colors.$white;
  box-shadow: ds-shadows.$shadow-light;

  h1 {
    margin-bottom: 0;
    padding: 0 95px;

    text-align: center;

    @include ds-typography.b-s36-h42;
  }

  p {
    padding: 0 95px;

    text-align: center;

    font-size: 20px;
    line-height: 30px;
  }

  b {
    font-size: 1.2em;
  }
}

